*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: monospace;
}
main{
  margin: 5px;
}
h1{

  font-size: 3rem;
  font-weight: bold;
  font-variant: small-caps;
  display: inline-block;
  width: 250px;
  text-align: center;
}
#td-options{
  display: flex;
  flex-flow: column nowrap;
  justify-content:space-around;
  align-items: flex-start;
  font-size: 1.2rem;
  width: 250px;
}
#search,#search input{
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid black;
}
#hide-completed{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  margin: 5px 0;
}
#hide-check{
  margin: 10px;
}
#todo{
  /* border: 3px solid pink; */
  background-color: pink;
  margin: 1rem 0;
  display: inline-block;
  padding: 10px;
}
.task{
  border: 1px solid green;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
}
.task li{
  list-style-position: inside;
  margin: .5rem;
  text-transform: capitalize;
}
.task button{
  padding: 0 .5rem;
  border-radius: 2px;
  background-color: gray;
  color: whitesmoke;
}
.task button:hover{
  cursor: pointer;
}
#add-todo{
  display: flex;
  flex-flow: row nowrap;
  width: 255px;
  justify-content: space-between;
  height: 25px;
}
#add-todo button{
  padding: 0 .5rem;
  border-radius: 3px;
}
